<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/header-styles.css">
    <link rel="stylesheet" href="/css/main-banner-styles.css">
    <link rel="stylesheet" href="/css/footer-styles.css">
    <link rel="stylesheet" href="/css/register-styles.css">

    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>

    <title>POSEIDON - REGISTRO DE USUARIOS</title>
</head>
<body>
    <!--INICIO DEL HEADER-->
    <header>
        <div class="header-marquee">
            <marquee behavior="alternate" direction="right">¡ENVIOS A TODO EL PAIS!</marquee>
        </div>
        <div class="header-main">
            <section class="header-topSection">
                <article class="header-topSection-SocialNetworks">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <i class="fa-brands fa-twitter"></i>
                </article>
                <article class="header-topSection-searchBar">
                    <form action="">
                        <input type="text" placeholder="ingrese lo que desea buscar">
                    </form>
                </article>
                <article class="header-topSection-Icons">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </article>
            </section>

            <section class="header-mediumSection">
                <article class="header-mediumSection-logo">
                    <img src="/images/logo/logo.jpg" alt="Logo">
                </article>
            </section>

            <section class="header-bottomSection">
                <article class="header-bottomSection-mobile">
                    <i class="fa-solid fa-bars"></i>
                </article>
                <article class="header-bottomSection-desktop">
                    <nav>
                        <ul class="header-bottonSection-desktop-nav">
                            <li><a href="">INICIO</a></li>
                            <li><a href="">NOSOTROS</a></li>
                            <li><a href="">HOMBRES</a></li>
                            <li><a href="">NIÑOS</a></li>
                            <li><a href="">CONTACTO</a></li>
                        </ul>
                    </nav>
                </article>
            </section>
        </div>
    </header>

    <!--FIN DEL HEADER-->

    <main>
        <!--INICIO DEL BANNER-->
        <div class="main-banner">
            <img src="/images/header-banner/banner1.jpg" alt="imagen del banner">
        </div>
        <!--FIN DEL BANNER-->

        <!--INICIO DEL FORMULARIO DE REGISTRO-->
        <section class="registerContainer">
            <article class="registerInformation">
                <form action="">
                    <h3 class="registerForm-tittle">FORMULARIO DE REGISTRO: </h3>
                    <div>
                        <label class="registerForm-label" for="">Nombre:</label>
                        <input class="registerForm-input" type="text">
                    </div>
                    <div>
                        <label class="registerForm-label" for="">Apellido:</label>
                        <input class="registerForm-input" ype="text">
                    </div>
                    <div>
                        <label class="registerForm-label" for="">N° de Documento:</label>
                        <input class="registerForm-input" type="text">
                    </div>
                    <div>
                        <label class="registerForm-label" for="">Fecha de Nacimiento</label>
                        <input class="registerForm-input" type="date">
                    </div>
                    <div>
                        <label class="registerForm-label" for="">Email:</label>
                        <input class="registerForm-input" type="email">
                    </div>
                    <div>
                        <label class="registerForm-label" for="">Password:</label>
                        <input class="registerForm-input" type="password">
                    </div>
                    <div>
                        <label class="registerForm-label" for="">Repita Password:</label>
                        <input class="registerForm-input" type="password">
                    </div>  
                    <div class="registerForm-buttonContainer">
                        <button type="submit" class="registerForm-button">ENVIAR</button>
                        <button type="reset" class="registerForm-button">BORRAR</button>
                    </div>
                </form>
            </article>
            <article class="registerImage">
                <img src="/images/register/registerImage.jpg" alt="">
            </article>
        </section>

    </main>

    <footer>
        <section class="footerSection">
            <article class="footerSection-newsletter">
                <h3>SUSCRIBITE AL NEWSLETTER</h3>
                <form action="">
                    <div class="footerSection-newsletter-form">
                        <input type="text" name="" id="" placeholder="Nombre">
                        <input type="E-Mail" placeholder="E-Mail">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </article>
            <article class="footerSection-aboutUs">
                <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li><a>¿Quienes somos?</a></li>
                        <li><a>Sucursales</a></li>
                        <li><a>Terminos y Condiciones</a></li>
                        <li><a>Trabajá con nosotros</a></li>
                        <li><a>Contacto</a></li>
                    </ul>
            </article>
            <article class="footerSection-information">
                <h3>INFORMACION</h3>
                    <ul>
                        <li><a>Talles</a></li>
                        <li><a>Promociones de compra</a></li>
                        <li><a>¿Cómo Comprar?</a></li>
                        <li><a>Formas de pago</a></li>
                        <li><a>Costos y formas de envío</a></li>
                        <li><a>Garantías</a></li>
                        <li><a>Politicas de cambio</a></li>
                        <li><a>Peguntas Frecuentes</a></li>
                    </ul>
            </article>
            <article class="footerSection-logo">
                <img src="/images/logo/logo.jpg" alt="Logo en el footer">
            </article>
        </section>
    </footer>

</body>
</html>